@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Istok+Web:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li{
    list-style: none;
}

a {
    text-decoration: none;
}

header{
    background-color: #EDF2F7;
    height: 120px;
    padding-bottom: 24px;
      font-family: inter;
   
}
.navbar{
    padding: 48px 130px 0 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_nav_and_btn{
    display: flex;
    align-items: center;
    gap: 32px;
}

.nav_links {
    display: flex;
    gap: 32px;
   
}

.nav_links a {
      color: #427174; 
      font-family: inter;
    /* font-size: 18px ; */
    font-size: 1rem;
}

.header_btn{
    background-color: #427174;
    color: #fff;
    /* font-size: 18px; */
    font-size: 1rem;
    border: none;
    padding: 0 24px;
    width: 112px;
    height: 48px;
    border-radius: 10px;
}

/* HERO SECTION */


.hero_img{
    width: 100%;
    height: 550px;
    object-fit: cover;
}

/* .features {
    background-color: #F7FAFC;
    color: #1A202C;
    font-family: 'Playfair Display';
}

.section_heading{
    text-align: center;
} */