@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Istok+Web:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li{
    list-style: none;
}

a {
    text-decoration: none;
}

header{
    background-color: #EDF2F7;
    height: 120px;
    padding-bottom: 24px;
      font-family: inter;
   
}
.navbar{
    padding: 48px 130px 0 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-nav-and-btn{
    display: flex;
    align-items: center;
    gap: 32px;
}

.nav-links {
    display: flex;
    gap: 32px;
   
}

.nav-links a {
      color: #427174; 
      font-family: inter;
    /* font-size: 18px ; */
    font-size: 1rem;
}

.header-btn{
    background-color: #427174;
    color: #fff;
    /* font-size: 18px; */
    font-size: 1rem;
    border: none;
    padding: 0 24px;
    width: 112px;
    height: 48px;
    border-radius: 10px;
    cursor: pointer;
}

/* HERO SECTION */


.hero-img{
    width: 100%;
    height: 550px;
    object-fit: cover;
}

/* FEATURES SECTION */

.features{
    background-color: #F7FAFC;
    padding: 60px 120px;
}

.section-heading{
    text-align: center;
    font-weight: 600;
    font-size: 36px;
    font-family: 'Playfair Display';
    margin-bottom: 32px;
      color: #1A202C;
}

.grid-3{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 48px 19px;
    padding: 11px;

}

.content-container{
    text-align: center;
    font-family: inter;
    width: 380px;
    height: 244px;
    padding: 16px;

}

.features-icon{
    margin-bottom: 20px;
}
.content-subheading{
     font-size: 20px;
     font-weight: 600;
     margin-bottom: 8px;
}

.content-descripition{
    font-family: inter;
    color: #4A5568;
    font-size: 14px;
    line-height: 140%;
}

/* HOW IT WORKS SECTION */

.how-it-work{
    background-color: #F7FAFC;
    padding: 0 120px 60px;
}

.how-it-work .content-descripition{
    font-size: 1rem;
    text-align: center;
    padding: 11px 11px 32px;
}

.video-frame{
    max-width: 1200px;
    height: 448px;
    background-color: #32575A4D;
    margin: 0 auto;
    border-radius: 20px;
    position: relative;
}

.video-play-icon{
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}

/* PRICING WRAPPER */

.pricing-wrapper{
    background-color: #D0DBDC;
    padding: 96px 210px;
    text-align: center;
}

.pricing-description{
    font-family: Inter;
    font-size: 1.rem;
    line-height: 25px;
}

.pricing-description span {
    font-weight: 600;
}

/* FAQ's */

.faq{
    background-color: #F7FAFC;
    padding: 80px 130px;
}

.section-heading span{
    font-weight: 400;
}

.align-start{
    text-align: start;
    padding: 11px;
}

details{
    padding: 16px 11px;
    border-top: 1px solid #427174;
}

details[open]{
    background-color: white;
}

details[open] summary{
    font-weight: 600;
}

summary{
    list-style: none;
    cursor: pointer;

}

.downward-arrow-icon{
    color: #5F6368;
}

.flex{
    display: flex;
    gap: 1rem;
}

.question{
    font-family: Inter;
}

.answer{
    font-family: Inter;
    margin: 20px 0 20px 26px;
}
